<div class="min-vh-100">
    <div class="col-3 d-grid align-items-center justify-content-center error-content text-center p-2">
        <h1><%= errorCode %></h1>
        <% if (errorCode === '404') { %>
            <h4 class="m-0">Not Found</h4>
        <% } else { %>
            <h4 class="m-0">Internal Server Error</h4>
        <% } %>
        <p class="mt-5"><%= errorMsg %></p>
        <a href="/" class="btn box-border">トップに戻る</a>
    </div>
</div>