<div class="min-vh-100">
    <div class="bg-dark rounded login-container center">
        <div class="d-flex justify-content-center BDS-emblem BDS-emblem-slim">
            <img src="/imgs/bedrock_icon.webp" alt="BDS Manager icon" class="bedrock">
            <h2 class="ms-2"><b>BDS</b> Manager</h2>
        </div>
        <form class="rounded border mt-4">
            <label for="exampleInputEmail" class="form-label">登録したメールアドレスを入力</label>
            <input type="email" class="form-control bg-dark2" id="exampleInputEmail" aria-describedby="emailHelp" required>
        </form>
    </div>
</div>