<div class="main-container row justify-content-center nav-active">
    <div class="col-9 bg-dark p-3 rounded">
        <h2 id="page-title">サーバーインスタンスを追加</h2>
        <!-- インスタンスの設定フォーム -->
        <form class="bg-dark2 p-2 rounded" id="createInstanceForm">
            <button class="btn box-border" id="create-btn">確認及び作成</button>
            <h3 class="mt-2 border-bottom">設定</h3>
            <div class="d-grid bg-dark" id="settings-container">
                <!-- 設定タブ -->
                <ul id="instance-setting-tabs" class="list-unstyled"></ul>
                <!-- 設定内容(項目はJavaScriptによって切り替える) -->
                <div id="instance-settings"></div>
                <script type="module" src="/js/pages/createInstance/renderSetting.js" defer></script>
            </div>
        </form>
    </div>
</div>

<div class="modal row justify-content-center align-items-center" id="preview-modal">
    <div class="col-9 bg-dark p-3 rounded" id="preview-modal-content">
        <div class="modal-header">
            <h4>設定の確認</h4>
            <div class="d-flex">
                <button id="cancel-btn" class="btn box-border btn-cancel border-red ms-2">キャンセル</button>
                <button id="submit-btn" class="btn box-border ms-2">作成</button>
            </div>
        </div>
    </div>
</div>