@charset "UTF-8";

#list-createInstance {
    background-color: var(--hover-color);
    color: var(--bg-color-green);
}

#create-btn {
    padding: 0.4em;
    width: 100%;
}

#instance-setting-tabs {
    width: 200px;
    margin: 0;
    border-right: solid 1px var(--border-color-normal);
}

#instance-setting-tabs li {
    height: 66px;
    padding: 1em;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

#instance-setting-tabs li.active {
    background-color: var(--hover-color);
    color: var(--bg-color-green);
}

#instance-setting-tabs li:hover {
    background-color: var(--hover-color);
    color: var(--bg-color-green);
}

#settings-container {
    grid-template-columns: 200px auto;
    grid-template-rows: 550px;
}

#instance-settings {
    height: 100%;
}

.setting, .preview {
    overflow: auto;
    display: none;
    height: 100%;
}

.setting.active,
.preview.active {
    display: block;
    animation: 0.4s fade-right-in ease-in-out;
}

.setting ul li,
.preview ul li {
    margin-bottom: 1.2em;
}

input[type="text"] {
    width: 95%;
}

input[type="number"] {
    width: 10%;
}

#preview-modal-content {
    height: 70%;
    display: grid;
    grid-template-rows: auto auto;
}

@keyframes fade-right-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}