@charset "UTF-8";

#settings-container {
    grid-template-columns: 200px auto;
    border: 1px solid var(--border-color-normal);
}

#instance-setting-lists {
    margin: 0;
    user-select: none;
}

.list-btns {
    width: 200px;
    height: 66px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    transition: var(--transition-speed-2);
}

.list-btns::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 0;
    background-color: var(--bg-color-green);
    transition: height 0.1s ease-out;
}

.list-btns.active {
    background-color: var(--hover-color);
}

.list-btns.active::before {
    height: 100%;
}

.list-btns:hover {
    background-color: var(--hover-color);
}

#instance-settings {
    border-left: 1px solid var(--border-color-normal);
}

.settings {
    display: none;
}

.settings.active {
    display: block;
}