@charset "UTF-8";

#settings-container {
    grid-template-columns: 200px auto;
    border: 1px solid var(--border-color-normal);
}

.setting-tab-header {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 0.3em;
    z-index: 0;
    backdrop-filter: blur(2px);
}

#instance-setting-lists {
    margin: 0;
    user-select: none;
    border-right: 1px solid var(--border-color-normal);
}

.list-btns {
    width: 200px;
    height: 66px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    transition: var(--transition-speed-2);
}

.list-btns::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 0;
    background-color: var(--bg-color-green);
    transition: height 0.1s ease-out;
}

.list-btns.active {
    background-color: var(--hover-color);
}

.list-btns.active::before {
    height: 100%;
}

.list-btns:hover {
    background-color: var(--hover-color);
}

.settings {
    display: none;
    overflow-y: auto;
    min-height: 65vh;
    max-height: 65vh;
    padding: 0 0.6em 0.6em 0.6em;
}

.settings.active {
    display: block;
}

input[type=text],
#level-seed {
    max-width: 60%;
    min-width: 60%;
}

input[type=number] {
    max-width: 100px;
}

input.inputError {
    border: solid 2px #ff4444be;
    border-radius: 5px;
}

.setting-error-msg {
    color: #ff4444;
    animation: 0.5s error ease;
}

@keyframes error {
    0% { transform: translateX(0); }
    15% { transform: translateX(2px); }
    30% { transform: translateX(-2px); }
    45% { transform: translateX(2px); }
    60% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    85% { transform: translateX(0); }
    100% { transform: translateX(0); }
}