<div class="d-grid justify-content-center align-items-center information">
    <div class="d-flex justify-content-center BDS-emblem">
        <img src="/imgs/bedrock_icon.webp" alt="BDS Manager icon" class="bedrock">
        <h2 class="ms-2"><b>BDS</b> Manager</h2>
    </div>

    <p class="text-center">当Webアプリケーションは<code>SARADA7156</code>が管理・運営している個人用Webアプリケーションです。<br>管理者の許可なく不正にログイン・操作することは一切禁じます。</p>
</div>

<small class="text-center text-white-50">&copy;2025 SARADA7156</small>
