<div class="row align-items-center">
    <div id="serviceName" class="d-flex align-items-center col-4">
        <img src="/imgs/bedrock_icon.webp" alt="BDS Manager Icon" class="bedrock">
        <h1 class="mb-0 ms-3"><b>BDS</b> Manager</h1>
    </div>

    <div class="col-7">

    </div>

    <div class="col-1">
        <a href="/login" id="signin" class="btn box-border">サインイン</a>
    </div>
</div>