<div class="row align-items-center">
    <div class="d-flex align-items-center col-11 BDS-emblem">
        <img src="/imgs/bedrock_icon.webp" alt="BDS Manager Icon" class="bedrock">
        <h4 class="mb-0 ms-3"><b>BDS</b>Manager</h4>
    </div>
</div>
