<div>
    <div class="menu-container">
        <span class="iconBtn" id="menuBtn" title="メニューを閉じる">
            <span class="material-symbols-outlined">menu</span>
        </span>
    </div>

    <div class="service-list">
        <a href="/v1/dashboard" id="list-dashboard">
            <span class="material-symbols-outlined">dashboard</span>
            <p>ダッシュボード</p>
        </a>
        <a href="/v1/Services" id="list-Services">
            <span class="material-symbols-outlined">globe</span>
            <p>サーバー</p>
        </a>
        <a href="/v1/createInstance" id="list-createInstance">
            <span class="material-symbols-outlined">add</span>
            <p>サーバー追加</p>
        </a>
        <a href="/v1/backup" id="list-backup">
            <span class="material-symbols-outlined">backup</span>
            <p>バックアップ</p>
        </a>
        <a href="/v1/jobs" id="list-jobs">
            <span class="material-symbols-outlined">timer</span>
            <p>ジョブ</p>
        </a>
        <a href="/v1/info" id="list-info">
            <span class="material-symbols-outlined">host</span>
            <p>サーバー状態</p>
        </a>
        <a href="/v1/analytics" id="list-analytics">
            <span class="material-symbols-outlined">finance_mode</span>
            <p>アナリティクス</p>
        </a>
    </div>
</div>

<!-- 
追加予定のメニューリスト
・アナリティクス
-->