@charset "UTF-8";

header {
    background-color: #000000bd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px #000;
}

#serviceName img {
    width: 70px;
}

#serviceName h1 {
    user-select: none;
}

#signin {
    padding: 0.4em 1em;
    font-size: 16px;
}
