@charset "UTF-8";

.notifications {
    width: 400px;
    align-items: center;
    grid-template-columns: auto 18px;
    align-items: start;
}

.close-btn {
    color: #fff;
    cursor: pointer;
}

.level-info .notice-content {
    color: var(--bg-color-green);
}

.level-warning .notice-content {
    color: yellow;
}

.level-error .notice-content {
    color: red;
}

.level-info, .level-warning, .level-error {
    animation: 0.45s notice-fade-in ease-out;
}

.notifications-container .close-btn {
    font-size: 18px;
    padding: 0;
}

.notice-message {
    color: #fff;
}

@keyframes notice-fade-in {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}