@charset "UTF-8";

.error-content {
    position: absolute;
    background-color: var(--bg-color-black-1);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-content h1 {
    font-size: 60px;
}

.btn {
    padding: 0.6em 1em;
    margin: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}