@charset "UTF-8";

nav {
    width: 66px;
    display: grid;
    user-select: none;
    transition: 0.3s;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

nav.active {
    width: 200px;
    grid-template-rows: 66px auto;
    box-sizing: border-box;
}

.menu-container {
    height: 66px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-list {
    display: grid;
    grid-template-columns: 100%;
}

.service-list a,
.service-list a:visited {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 66px;
    display: grid;
    grid-template-columns: 66px 134px;
    align-items: center;
    justify-content: center;
}

.service-list a:hover {
    background-color: var(--hover-color);
    color: var(--bg-color-green);
}

.service-list a.active {
    background-color: var(--hover-color);
    color: var(--bg-color-green);
}

.service-list span {
    width: 24px;
    margin: auto;
}